---
layout: default
title: Publications
---

<div class="row homelead">
    <div class="col-9">
    <h1 style="font-size:4em;">{{ page.title }}</h1>
    <h2><a href="./">Back to homepage</a></h2>
    </div>
</div>
<div class="row m-10">
  <div class="col-8">
    <div class="block">
        <h2>ICLC15</h2>
        <p>On August 10, 2019 we gave a presentation titled
        <em><a href="{{ '/assets/Publications/ICLC15.pdf' | relative_url }}">
            Checking the adequacy of second-order vector space models of meaning
        </a></em>
        at the 15th International Cognitive Linguistics Conference in Nishinomiya, Japan.</p>
    </div>
    <div class="block">
        <h2>CL2019</h2>
        <p>On July 23, 2019 we presented a poster titled
        <em><a href="{{ '/assets/Publications/CL19.pdf' | relative_url }}">
            Distributional semantics goes to church
        </a></em>
        at the International Corpus Linguistics Conference in Cardiff, UK.</p>
    </div>
    <div class="block">
        <h2>ICLaVE10</h2>
        <p>On June 28, 2019 we gave a presentation titled
        <em><a href="{{ '/assets/Publications/ICLaVE2019.pdf' | relative_url }}">
            Distributional models and semantic variation across genres
        </a></em>
        at the 10th International Conference on Language Variation in Europe in Leeuwarden, Netherlands.</p>
    </div>
    <div class="block">
        <h2>PhD Day</h2>
        <p>On September 28, 2018 I gave a short presentation of
        <em><a href="{{ '/assets/Publications/PhD Day.pdf' | relative_url }}">
            my PhD proposal
        </a></em>
        at the PhD Day organized by the Linguistics Department (Faculty of Arts) of KU Leuven, Belgium.</p>
    </div>
    <div class="block">
        <h2>Master thesis</h2>
        <p>On December 2015, I handed my
        <em><a href="{{ '/assets/Publications/Tesina licenciatura.pdf' | relative_url }}">
            master's thesis
        </a></em>
         (trabajo final de Licenciatura) in the Universidad Nacional de Córdoba, Argentina.</p>
    </div>
  </div>
  <div class="col-4">
    <div class="news">
      {% include nephovis.html %}
      {% include annotation.html %}
    </div>
  </div>
</div>