<h2>About me</h2>
<p>I graduated from Italian Language and Literature at the Universidad Nacional de Córdoba (Argentina)
    and am currently a Linguistics PhD student at KU Leuven (Belgium).
</p>
<p>
    I'm mainly interested in corpus and cognitive linguistics;
    now I'm working on semantic vector space models and visual analytics,
    without straying too far from lexicological analysis.
</p>
<p>
    You can see my full CV <a style="font-weight: 700" href="{{ '/assets/Publications/CV-en.pdf' | relative_url }}">here</a>.
</p>