<h2>Current subproject</h2>
<p>Within the <a style="font-weight: 700" href="https://www.arts.kuleuven.be/ling/qlvl/projects/current/nephological-semantics">Nephological semantics project</a>,
we will require many different words to be annotated with their senses
as well as the context words that helped identified them. I designed an interface
to make this annotation an easier and more pleasant experience.
</p>
<p>You can play around with it <a style="font-weight: 700" href="/Annotation/">here</a>!</p>