/* General instruccions for the look of the page */
body {
  padding:3vw;
  font-size:100%;
}
/*Header, with welcoming message and last-updated information*/
div.header {
  position:relative;
  top:0;
  background-color: steelblue;
  width:inherit;
  height: 100px;
  padding:20px;
}
div.welcome{
  position: absolute;
  top:20%;
  padding:0;
  margin:0;
}
h1 {
  font-size: 3vw;
  font-variant: small-caps;
  font-weight: bold;
  color:ivory;
}
div.message {
  position:absolute;
  top:70%;
  right:1%;
  border-color: steelblue;
  color: ivory;
  text-align: right;
}
/*Menu with links to tables.*/
div.menu{
  position:sticky;
  top:0;
  background-color: steelblue;
  border-top: ivory ridge 2px;
  width:auto;
  max-height:60px;
  padding:2px;
}
ul.menu{
  list-style-type: none;
  margin:0;
  padding:0;
}
li.menu {
  display: inline;
}
li.menu a{
  padding:5px;
  text-decoration: none;
  color:ivory;
  font-weight: bold;
  font-size:0.9em;
}
li.menu a:active{
  background-color: midnight;
}
li.menu::before{
  content:none;
}
/*Main boxes to split the page in clouds vs info.*/
div.left {
  box-sizing: border-box;
  float:left;
  width: 60%;
  padding-right:1vw;
  padding-top:0;
}
div.right {
  box-sizing: border-box;
  float: right;
  width: 40%;
  padding-left:1vw;
  padding-top:0;
}
/*Titles format.*/
h2 {
  font-size:1.875em;
  color:midnightblue;
  font-weight: bold;
  font-family: arial;
  font-variant:small-caps;
  line-height: 0.4;
}
h3 {
  font-size:1.5em;
  color:steelblue;
  font-weight: bold;
  font-family: arial;
  font-variant:small-caps;
}
h4 {
  font-size:1.4em;
  color:steelblue;
  font-weight: bold;
  font-family: arial;
}
/*Tables format.*/
div.table{
  max-width: 100%;
  overflow-x: auto;
}
th {
  font-family:"georgia", serif;
  font-size: 1em;
  color:steelblue;
  font-variant:small-caps;
  border-bottom: 1px solid #004d4d;
  padding: 5px;
  border-collapse: collapse;
}
td {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  vertical-align: center;
  padding: 5px;
}
.rowname {
  font-family:"georgia", serif;
  color:steelblue;
  font-size: 1em;
  font-variant:small-caps;
  text-align: left;
}
caption {
  text-align: left;
}
/*Information descriptors format. Including code for hiding and showing.*/
div.desc {
  font-family:"georgia", serif;
  text-align: justify;
  padding: 10px;
  max-width: 700px;
}
p a{
  font-weight: bold;
}
.placeholder{
  font-size: 1em;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  background-color: steelblue;
  padding: 5px;
  max-width:700px;
  color:ivory;
}
.hide{
  color:midnightblue;
  text-align: right;
  font-weight: bold;
}
/*Basic text and links format.*/
p {
  font-family: "georgia", serif;
  font-size: 1em;
}
a:link {
  color:midnightblue;
  text-decoration: none;
}
a:visited {
  color:slategray;
  text-style: italic;
}
/*Lists format, with little clouds as bullet points.*/
ul{
  list-style:none;
  padding:0;
  margin:0;
}

li:before{
  content: "\2601";
  color: steelblue;
  padding-right: 5px;
}
/*Footer!*/
div.footer{
  position:fixed;
  bottom:0;
  right:0;
  background-color: steelblue;
  border-top: ivory ridge 2px;
  width:auto;
  height:20px;
  padding:5px;
  color:ivory;
}
