---
layout: default
title: Mariana Montes
---

<div class="row homelead">
  <div class="col-sm-8">
    <h1 style="font-size:4em;">{{ page.title }}</h1>
    <h2><a href="{{ site.qlvl }}">PhD Student in Linguistics</a></h2>
  </div>
  <div class="col-sm-3 text-center">
    <img src="{{ '/assets/portfolio.png' | relative_url }}" alt="I'm smiling here" style="width:100%; max-width:150px">
  </div>
  <div class="col-sm-1 text-center" style="font-size: 2em;">
    <div style="float:left; margin: 5px;"><a href="http://github.com/{{ site.github-user }}"><i class="fab fa-github"></i></a></div>
    <div style="float:left; margin: 5px;"><a href="http://twitter.com/{{ site.twitter-handle }}"><i class="fab fa-twitter"></i></a></div>
    <div style="float:left; margin: 5px;"><a href="mailto:{{ site.email }}"><i class="fas fa-at"></i></a></div>
  </div>
</div>
<div class="row m-10">
  <div class="col-sm-8">
    <div class="block">
      {% include about.html %}
    </div>
    <div class="block">
      <h2>Publications</h2>
      <p><a style="font-weight: 700" href="publications.html">Here</a> you can see some conference presentations.</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="news">
      {% include nephovis.html %}
    </div>
  </div>
</div>